%br
%h5 #{@site.url} events
%br
%div.row
  %dl.accordion{"data-accordion" => ""}
    %dd.accordion-navigation
      %a{:href => "#panel1"} Setup Instructions
      #panel1.content      
        %p Copy and paste the snippet below into script tags right before the closing body tag.
        %pre= erb :"/events/_snippet"
    %dd.accordion-navigation
      %a{:href => "#panel2"} Usage Example
      #panel2.content
        %p Customize the options in this snippet below and track your users.
        %pre _bm('event name', 'option', 'option')
%br
%div.row
  %canvas{:id => "myChart", :width => "400", :height => "400"}
%div.row
  %div.row
    %div.large-12.columns
      %p Filter events by date range
      %form{:action => "/events/#{@site.code}/search", :method => :get}
        %div.row
          %div.large-4.columns
            %input{:type => "text", :name => "date1", :id => "datepicker", :autocomplete => "off"}
          %div.large-4.columns
            %input{:type => "text", :name => "date2", :id => "datepicker2", :class => "small-4 columns", :autocomplete => "off"}
          %div.large-4.columns
            %input{:type => "submit", :value => "Search", :class => "button postfix"}
  %table
    %thead
      %th Event Name
      %th Event Property
      %th Event Property
      %th Event Created At
    %tbody
      -@events.each do |event|
        %tr
          %td= event.name
          %td= event.property1
          %td= event.property2
          %td= event.created_at.localtime
%br
%p= @chartData
%script
  var picker = new Pikaday({field: document.getElementById('datepicker'),onSelect: function(date){document.getElementById('datepicker').value=moment(date).format("YYYY-MM-DD");}});
  document.getElementById('datepicker').value=moment("#{@date1.to_date}").format("YYYY-MM-DD");
  var picker2 = new Pikaday({field: document.getElementById('datepicker2'),onSelect: function(date){document.getElementById('datepicker2').value=moment(date).format("YYYY-MM-DD");}});
  document.getElementById('datepicker2').value=moment("#{@date2.to_date}").format("YYYY-MM-DD");
  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx).Pie(#{@chartData.to_json},{segmentShowStroke : true});